/* -------------------------------------------------------------------------- */
/*                                  Abtracts                                  */
/* -------------------------------------------------------------------------- */

@import './abtracts/mixins';
@import './abtracts/variables';

/* -------------------------------------------------------------------------- */
/*                                    Base                                    */
/* -------------------------------------------------------------------------- */

@import './base/animations';
@import './base/base';
@import './base/typography';
@import './base/utilities';

/* -------------------------------------------------------------------------- */
/*                                 Components                                 */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                                   Layouts                                  */
/* -------------------------------------------------------------------------- */

@import './layouts/buttons';
@import './layouts/footer';
@import './layouts/header';
@import './layouts/links';

/* -------------------------------------------------------------------------- */
/*                                    Pages                                   */
/* -------------------------------------------------------------------------- */

@import './pages/home';
@import './pages/not-found';