*,
*::after,
*::before {
  margin    : 0;
  padding   : 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include respond(tab-land) {
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    font-size: 50%;
  }

  @include respond(big-desktop) {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  background: $body-bg;
}

::selection {
  background-color: $color-primary;
  color           : $color-white;
}

#root {
  display              : grid;
  width                : 100vw;
  height               : 100vh;
  grid-template-columns: 100%;
  grid-template-rows   : 100%;
}