// Body
$body-bg: #f8fafc;

// Typography
$font-logo: 'Lobster',
sans-serif;
$font-sub: 'Lobster Two',
sans-serif;
$font-text: 'Muli',
sans-serif;

$default-font-size: 1.6rem;

// Colors
$color-primary      : #ff9ff3;
$color-primary-light: #ffd2f9;
$color-primary-dark :#ff6ced;

$color-secondary      :#1dd1a1;
$color-secondary-light: #53e7c0;
$color-secondary-dark : #148e6d;

$color-grey-light-1: #f3f4f5;
$color-grey-light-2:#e4e4e4;


$color-grey-dark  : #777;
$color-grey-dark-1:#576574;
$color-grey-dark-2: #2d343c;

$color-black: #10161d;
$color-white: #f6f9fa;